@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #0f141e;
	background: #f1f1f1;
}

.container {
	max-width: 1024px;
	margin: 0 auto;
	padding-top: 30px;
}

.info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}

.about {
	width: 75%;
}

.link {
	color: #8c8c8c;
	text-decoration: none;
}

.link:hover {
	text-decoration: underline;
}

.link:visited {
	color: #9b0b0b;
}

.link:active {
	color: #8c8c8c;
}

.avatar {
	width: 200px;
	border-radius: 20px;
	box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.table {
	width: 100%;
}

.table td {
	padding-bottom: 10px;
}

.table td:nth-child(2),
.table td:nth-child(3) {
	color: #86898f;
}

.card {
	padding: 15px 20px;
	border-radius: 20px;
	margin-bottom: 30px;
}

.card__my-hobbies {
	background-color: #e9fee8;
}

.card__work-experience {
	background-color: #fbe6e4;
}

.card__contact-me {
	background-color: #fef9df;
}

.btn {
	background-color: #101011;
	color: #fff;
	font-family: inherit;
	cursor: pointer;
	padding: 15px;
	border: none;
}

.btn:hover {
	box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
	transition: all 1s;
}

ul {
	margin: 0;
	padding: 0;
	padding-left: 20px;
	list-style-type: none;
}

.list ul li {
	padding-bottom: 15px;
}

.fa-music,
.fa-book,
.fa-camera {
	color: #78d1af;
	margin-right: 10px;
}

.fa-square-instagram,
.fa-telegram,
.fa-linkedin {
	color: #9b0b0b;
}

.form {
	margin-top: 1em;
}

.first-row input {
	box-sizing: border-box;
	display: block;
	width: 100%;
	height: 31px;
	outline: none;
	border: none;
	border-bottom: 1px solid #101011;
	background-color: transparent;
}

.first-row > div > label {
	display: block;
	margin-bottom: 12px;
}

.first-row div {
	width: 48%;
}

.first-row {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 12px;
}

.second-row {
	margin-bottom: 12px;
}

.second-row label {
	display: block;
	margin-bottom: 12px;
}

.second-row textarea {
	display: block;
	width: 100%;
	height: 100px;
	border: none;
	border-bottom: 1px solid #101011;
	outline: none;
	background-color: transparent;
}

input,
textarea {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #0f141e;
}

@media (max-width: 650px) {
	.info {
		flex-direction: column;
	}

	.info .about {
		text-align: center;
	}

	.first-row {
		display: block;
	}

	.first-row div:first-child {
		margin-bottom: 12px;
	}

	.first-row div {
		width: 100%;
	}
}
